<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<head>
			<h1> Hongyi Xu </h1>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/home">Home</a></li>
		        	<li><a href="/research">Research</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/projects">Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/hongyileoxu">&copy 2024 Hongyi Xu</a></li>
				<li><a href="mailto:hongyi.xu@hhs.se">Email</a></li>
				<li><a href="https://hongyileoxu.github.io/research">⎋Like</a></li>
				</ul>
			</footer>
		</body>
	</html>
